<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= title %> </title>
    <meta name="description" content="Voting System">
    <meta name="author" content="Spankie Dee">

    <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
    <link rel="stylesheet" href="/css/tachyons.min.css" />
    <!--<link rel="stylesheet" href="/css/lightbox.min.css">-->
    <link rel="stylesheet" href="/css/style.css">

    <!--[if lt IE 9]>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <![endif]-->
</head>

<body class="pa0">
    <% if (page == 'login') { %>
    <div class="" style="background: white url('/images/sweet.jpeg') center no-repeat">
    <% } else { %>
    <div>
    <% } %>
        <nav class="bg-red white shadow-4 cf w-100 fixed">
            <div class="ph0 ph3-m ph5-l">
                <div class="dib v-mid">
                    <a class="ma0 white dib v-mid pa2 f3 no-underline" href="/">UVS</a>
                </div>
                <div class="dib v-mid fr">
                    <a href="register" class="pa3 bg-dark-red white dib v-mid dim no-underline">Register</a>
                    <% if (page != 'login') { %>
                    <span class="pa3 bg-dark-red white dib v-mid dim dn-ns pointer" onclick="toggleSideNav()">
                        <a href="#!" class="no-underline box-shadow-menu"></a>
                    </span>
                    <% } %>
                    <!--<a href="admin" class="pa3 bg-dark-red white dib v-mid dim no-underline">Admin</a>-->
                </div>
            </div>
        </nav>
    <% if (page == 'login') { %>
        <div class="ph0 ph3-m ph5-l pv4 pv6-ns cf">
        <!-- remember to make this responsive -->
            <div class="fl-ns w-70-ns pa2 tc tl-ns">
                <h2 class="orange">Admin Login for the Ultimate voting system</h2>
                <p class="white">For the sake of transparency!!!</p>
            </div>
            <div class="fl-ns w-30-ns ph2 ph0-ns">
                <div class="bt br bl b--red bg-red pv3">
                    <p class="mv0 tc white">ADMIN LOGIN</p>
                </div>
                <div class="pa2 tc bg-orange br bb bl b--red">
                <% if (typeof get_err != 'undefined') { %>
                    <p class="white"><%= get_err %></p>
                <% } %>
                    <form action="/admin/login" method="POST">
                        <input type="text" name="username" placeholder="username" class="w-100 ba navy pa3 db mb2 tc f4" required>
                        <input type="password" name="password" placeholder="password" class="w-100 ba navy pa3 db mb2 tc f4" required>
                        <input type="submit" name="login" value="LOGIN" class="pa3 ba b-white white bg-red mb2 shadow-4 pointer">
                    </form>
                </div>
            </div>
        </div>
    </div><!-- close the nav div -->
    <footer class="bg-red ph0 ph3-m ph5-l white pv2">
        <p class="mv0 tc">Made with &hearts; in Nigeria</p>
    </footer>
    <% } else { %>
    </div><!-- close the nav div -->

    <div class="">
        <div id="sidenav" class="w5 w5-ns dn dib-ns" style="position: fixed; margin-top: 50px; height: 100vh">
            <div class="shadow-4 orange h-100" style="background: white url('/images/sweet2.jpg') center no-repeat;">
                <div class="h-100" style="background-color: rgba(0, 0, 0, 0.8)">
                    <div class="h4 pa3">
                        <p class="ma0 tc">Welcome spankie...</p>
                    </div>
                    <a href="/admin" class="orange bb bt b--orange db ph3 pv3 no-underline dim">Dashboard</a>
                    <a href="/admin/voters" class="orange bb b--orange db ph3 pv3 no-underline dim">Voters</a>
                    <a href="/admin/elections" class="orange bb b--orange db ph3 pv3 no-underline dim">Elections</a>
                    <a href="/admin/ongoing" class="orange bb b--orange db ph3 pv3 no-underline dim">Ongoing Election</a>
                    <a href="/admin/students" class="orange bb b--orange db ph3 pv3 no-underline dim">Students</a>
                    <a href="/logout" class="orange bb b--orange db ph3 pv3 no-underline dim">Logout</a>
                </div>
            </div>
        </div>

        <div class="ml7-ns pt5">
            <div class="ph2">
            <% if (page == 'loggedin') { %>
                <p class="mv0">DASHBOARD</p>
            <% } else if (page == 'voters') { %>
                <div class="pa2 mb2">
                    <p class="mv0">Voters</p>
                    <hr class="light">
                    <div class="">
                        <div class="overflow-auto">
                            <p class="mw8 center f4 navy">List of all Voters</p>
                            <table class="f6 w-100 mw8 center" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">S/N</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Name</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Matric Number</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">D.O.B</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">State</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">L.G.A</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Edit</th>
                                    </tr>
                                </thead>
                                <tbody class="lh-copy">
                                    <tr>
                                        <td class="pv3 pr3 bb b--black-20">1</td>
                                        <td class="pv3 pr3 bb b--black-20">Spankie Dee David</td>
                                        <td class="pv3 pr3 bb b--black-20">12/095244056</td>
                                        <td class="pv3 pr3 bb b--black-20">18/04</td>
                                        <td class="pv3 pr3 bb b--black-20">Cross river</td>
                                        <td class="pv3 pr3 bb b--black-20">Abi</td>
                                        <td class="pv3 pr3 bb b--black-20 red">Delete/suspend</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <% } else if (page == 'elections') { %>
                <div class="pa2 mb2">
                    <p class="mv0">ELECTIONS</p>
                    <hr class="light">
                    <div class="">
                        <div class="overflow-auto">
                            <p class="mw8 center f4 navy">List of all elections</p>
                            <table class="f6 w-100 mw8 center" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">S/N</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Type</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Start Date</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Duration</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Status</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Edit</th>

                                    </tr>
                                </thead>
                                <tbody class="lh-copy">
                                    <tr>
                                        <td class="pv3 pr3 bb b--black-20">1</td>
                                        <td class="pv3 pr3 bb b--black-20">General</td>
                                        <td class="pv3 pr3 bb b--black-20">04/02/2017</td>
                                        <td class="pv3 pr3 bb b--black-20">24 hours</td>
                                        <td class="pv3 pr3 bb b--black-20">Ongoing</td>                                        
                                        <td class="pv3 pr3 bb b--black-20"><a href="#!" class="pv1 ph2 shadow-4 f4 no-underline bg-navy white">+</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <% } else if (page == 'ongoing') { %>
                <p class="mv0">ONGOING ELECTION</p>
            <% } else if (page == 'students') { %>
                <div class="pa2 mb2">
                    <p class="mv0">STUDENTS</p>
                    <hr class="light">
                    <div class="">
                        <div class="overflow-auto">
                            <p class="mw8 center f4">List of all eligible students</p>
                            <table class="f6 w-100 mw8 center" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Name</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Matric Number</th>
                                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">D.O.B</th>
                                    </tr>
                                </thead>
                                <tbody class="lh-copy">
                                    <tr>
                                        <td class="pv3 pr3 bb b--black-20">Spankie Dee</td>
                                        <td class="pv3 pr3 bb b--black-20">12/095244056</td>
                                        <td class="pv3 pr3 bb b--black-20">18/04</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <p class="mv0">MALFORMED URL</p>
            <% } %>
            </div>
        </div>
    </div>
    <!-- insert custom js here -->
    <footer class="bg-red ph0 ph3-m ph5-l white pv2 ml7-ns">
        <p class="mv0 tc">Made with &hearts; in Nigeria</p>
    </footer>
    <% } %>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/admin.js"></script>
</body>

</html>