<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= title %> </title>
    <meta name="description" content="Voting System">
    <meta name="author" content="Spankie Dee">

    <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
    <link rel="stylesheet" href="/css/tachyons.min.css" />
    <!--<link rel="stylesheet" href="/css/lightbox.min.css">-->
    <link rel="stylesheet" href="/css/style.css">

    <!--[if lt IE 9]>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <![endif]-->
</head>

<body class="pa0">
    <% if (page == 'login') { %>
    <div class="" style="background: white url('/images/sweet.jpeg') center no-repeat">
    <% } else { %>
    <div>
    <% } %>
        <nav class="ph0 ph3-m ph5-l bg-red white shadow-4 cf db">
            <div class="dib v-mid">
                <a class="ma0 white dib v-mid pa2 f3 no-underline" href="/">UVS</a>
            </div>
            <div class="dib v-mid fr">
                <a href="register" class="pa3 bg-dark-red white dib v-mid dim no-underline">Register</a>
                <a href="#!" class="pa3 bg-dark-red white dib v-mid dim no-underline dn-ns">nav</a>
                <!--<a href="admin" class="pa3 bg-dark-red white dib v-mid dim no-underline">Admin</a>-->
            </div>
        </nav>
    <% if (page == 'login') { %>
        <div class="ph0 ph3-m ph5-l pv5 cf">
        <!-- remember to make this responsive -->
            <div class="fl w-70-ns pa2">
                <h2 class="orange">Admin Login for the Ultimate voting system</h2>
                <p class="white">For the sake of transparency!!!</p>
            </div>
            <div class="fl w-30-ns tc">
                <div class="shadow-2 pa2 tc bg-orange">
                    <form action="admin/login" method="POST">
                        <input type="text" name="username" placeholder="username" class="w-100 ba navy pa3 db mv2 tc">
                        <input type="password" name="password" placeholder="password" class="w-100 ba navy pa3 db mv2 tc">
                        <input type="submit" name="login" value="LOGIN" class="pa3 ba b-white white bg-red mv2 shadow-4 pointer">
                    </form>
                </div>
            </div>
        </div>
    </div><!-- close the nav div -->
    <% } else { %>
    </div><!-- close the nav div -->

    <div class="">
        <div class="w5 w5-ns dn dib-ns" style="position: fixed; height: 100vh">
            <div class="shadow-4 orange h-100" style="background: white url('/images/sweet2.jpg') center no-repeat;">
                <div class="h-100" style="background-color: rgba(2,2,2, 0.8)">
                    <div class="h4 pa3">
                        <p class="ma0 tc">Welcome spankie...</p>
                    </div>
                    <a href="/admin" class="orange bb bt b--orange db ph3 pv3 no-underline dim">Dashboard</a>
                    <a href="/admin/allvoter" class="orange bb b--orange db ph3 pv3 no-underline dim">All Voters</a>
                    <a href="/admin/newelection" class="orange bb b--orange db ph3 pv3 no-underline dim">New Election</a>
                    <a href="/admin/ongoing" class="orange bb b--orange db ph3 pv3 no-underline dim">Ongoing Election</a>
                    <a href="/admin/addstudent" class="orange bb b--orange db ph3 pv3 no-underline dim">Add Students</a>
                    <a href="/logout" class="orange bb b--orange db ph3 pv3 no-underline dim">Logout</a>
                </div>
            </div>
        </div>

        <div class="ml7-ns">
            <div class="pa2">
            <% if (page == 'loggedin') { %>
                <p class="mv0">DASHBOARD</p>
            <% } else if (page == 'allvoters') { %>
                <p class="mv0">ALL VOTERS</p>
            <% } else if (page == 'newelection') { %>
                <p class="mv0">NEW ELECTION</p>
            <% } else if (page == 'ongoing') { %>
                <p class="mv0">ONGOING ELECTION</p>
            <% } else if (page == 'addstudent') { %>
                <p class="mv0">ADD STUDENT</p>
            <% } else { %>
                <p class="mv0">MALFORMED URL</p>
            <% } %>
            </div>
        </div>
    </div>
    <!-- insert custom js here -->
    <% } %>
    <footer class="bg-red ph0 ph3-m ph5-l white pv2 ml7-ns">
        <p class="mv0 tc">Made with &hearts; in Nigeria</p>
    </footer>
    <script src="/js/jquery-3.1.1.min.js"></script>
</body>

</html>