<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= title %> </title>
    <meta name="description" content="Voting System">
    <meta name="author" content="Spankie Dee">

    <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
    <link rel="stylesheet" href="/css/tachyons.min.css" />
    <!--<link rel="stylesheet" href="/css/lightbox.min.css">-->
    <link rel="stylesheet" href="/css/style.css">

    <!--[if lt IE 9]>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <![endif]-->
</head>

<body class="pa0">
    <div class="pb5" style="background: white url('images/sweet.jpeg') center no-repeat">
        <nav class="h3 bg-red white ph5 shadow-3">
            <h1 class="ma0">UVS</h1>
        </nav>
        <br>
        <div class="ph5 h5 mv4">
            <h1 class="mv0 tc red"> ULTIMATE VOTING SYSTEM ... <%= title %> </h1>
            <p class="tc light-red">Welcome to <%= title %> </p>
        </div>
    </div>
    <hr class="light mh5">
    <div class="ph5">
        <p class="w4 h4 shadow-2 ba b--orange pa2 dib">class</p>
        <p class="w4 h4 shadow-2 ba b--orange pa2 dib">class</p>
    </div>
    <script src="/js/jquery-3.1.1.min.js"></script>
</body>

</html>