<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= title %> </title>
    <meta name="description" content="Voting System">
    <meta name="author" content="Spankie Dee">

    <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
    <link rel="stylesheet" href="/css/tachyons.min.css" />
    <!--<link rel="stylesheet" href="/css/lightbox.min.css">-->
    <link rel="stylesheet" href="/css/style.css">

    <!--[if lt IE 9]>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <![endif]-->
</head>

<body class="pa0">
    <div class="pb5">
        <nav class="ph0 ph3-m ph5-l bg-red white shadow-4 cf db">
            <div class="dib v-mid">
                <a class="ma0 white dib v-mid pa2 f3 no-underline" href="/">UVS</a>
            </div>
            <div class="dib v-mid fr">
                <a href="register" class="pa3 bg-dark-red white dib v-mid dim no-underline">Register</a>
                <a href="admin" class="pa3 bg-dark-red white dib v-mid dim no-underline">Admin</a>
            </div>
        </nav>
    </div>

    <div class="ph0 ph3-m ph5-l">
        <div class="">
            <form action="" method="POST" class="">
                <div class="cf mb3">
                    <label class="fl w-20 w-30-ns dib v-mid tr pa2">Names: </label>
                    <div class="fl w-60">
                        <input type="text" name="fname" class="pa2 w6 dib v-mid" placeholder="First Name">
                        <input type="text" name="mname" class="pa2 w6 dib v-mid" placeholder="Middle Name">
                        <input type="text" name="lname" class="pa2 w6 dib v-mid" placeholder="Last Name">
                    </div>
                </div>
                <div class="cf mb3">
                    <label class="fl w-20 w-30-ns dib v-mid tr pa2">Matric Number: </label>
                    <input type="text" name="matno" class="pa2 w6" placeholder="12/095244056">
                </div>
                <div class="cf mb3">
                    <label class="fl w-20 w-30-ns dib v-mid tr pa2">State of origin: </label>
                    <input type="text" name="soo" class="pa2 w6" placeholder="State">
                </div>
            </form>
        </div>
    </div>

    <script src="/js/jquery-3.1.1.min.js"></script>
</body>

</html>