<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= title %> </title>
    <meta name="description" content="Voting System">
    <meta name="author" content="Spankie Dee">

    <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
    <link rel="stylesheet" href="/css/tachyons.min.css" />
    <!--<link rel="stylesheet" href="/css/lightbox.min.css">-->
    <link rel="stylesheet" href="/css/style.css">

    <!--[if lt IE 9]>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <![endif]-->
</head>

<body class="pa0">
    <div class="pb5 bg-light-gray"><!-- style="background: white url('/images/3089.jpg') top left repeat" -->
        <nav class="ph0 ph3-m ph5-l bg-red white shadow-4 cf db">
            <div class="dib v-mid">
                <a class="ma0 white dib v-mid pa2 f3 no-underline" href="/">LDK</a>
            </div>
            <div class="dib v-mid fr">
                <a href="/register" class="pa3 bg-dark-red white dib v-mid dim no-underline">Register</a>
                <a href="/admin" class="pa3 bg-dark-red white dib v-mid dim no-underline">Admin</a>
            </div>
        </nav>
        <div class="ph0 ph3-m ph5-l">
            <div class="pa3">
                <div class="shadow-4 cf bg-white pb3">
                    <div class="bg-orange white pa2 shadow-4">
                        <div class="tc">
                            <p class="mv0 f4" id="v_head">Vote for a candidate!</p>
                        </div>
                    </div>
                    <div id="votes" class="pa2">
                        <h2 class="navy tc" id="v_message">Click on a candidate for each position.</h2>
                        <!--<div id="president">
                            <h2 class="navy">President</h2><hr class="light">
                            <div class="cf pv2 ph3 mb2 shadow-4 grow"><p class="dib red">Spankie dee</p><p class="dib fr">Votes(2)</p></div>
                            <div class="cf pv2 ph3 mb2 shadow-4 grow"><p class="dib yellow">David Spankie</p><p class="dib fr">Votes(2)</p></div>
                        </div>
                        <div id="sec">
                            <h2 class="navy">Secretary</h2><hr class="light">
                            <div class="cf pv2 ph3 mb2 shadow-4 grow"><p class="dib red">Spankie dee</p><p class="dib fr">Votes(2)</p></div>
                            <div class="cf pv2 ph3 mb2 shadow-4 grow"><p class="dib yellow">David Spankie</p><p class="dib fr">Votes(2)</p></div>
                        </div>-->
                    </div>
                    <div class="pa2 dib fr">
                        <a href="/logout" class="pa3 bg-red white no-underline mr3">LEAVE</a>
                        <button class="pa3 ba bg-orange white ml3" id="submit-vote">VOTE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-red ph0 ph3-m ph5-l white pv2">
        <p class="mv0 tc">Made with &hearts; By LDK</p> 
    </footer>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script>
        function checknull(can) {
            // true states that every thing is null
            var c = true;
            can.forEach(function(item){
                if (item != null) {
                    // something is not null.
                    c = false;
                }
            });
            return c;
        }
        function updateCandidate(elect_id) {
            var xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var can = JSON.parse(this.responseText);
                    // console.log("typeof can: " + typeof can);
                    if (can.length == 0 || can.m == "err" || checknull(can)) {
                        console.log("no data...", can);
                        document.getElementById("submit-vote").style = "display: none";
                        document.getElementById("v_message").innerHTML = "You Have finished voting!";
                        document.getElementById("v_head").innerHTML = "You Have finished voting!";
                    } else {
                        // console.log("data:", JSON.stringify(can));
                        can.forEach(function(item) {
                            if(item != null) {

                                id = item.position;

                                var can = document.createElement("div");
                                can.setAttribute("class", "cf pv2 ph3 mb2 shadow-4");
                                can.setAttribute("id", item.id);
                                var p1 = document.createElement("p");
                                p1.setAttribute("class", "dib");

                                var p2 = document.createElement("p");
                                p2.setAttribute("class", "dib fr");
                                
                                p1.appendChild(document.createTextNode(item.names));
                                p2.appendChild(document.createTextNode(item.matno));
                                can.appendChild(p1);
                                can.appendChild(p2);


                                var div = document.getElementById(id);
                                if(div != null) {
                                    div.appendChild(can);
                                } else {
                                    var div = document.createElement("DIV");
                                    var h2 = document.createElement("h2");
                                    h2.setAttribute("class", "navy");
                                    var hr = document.createElement("hr");
                                    hr.setAttribute("class", "light");

                                    div.setAttribute("id", id);
                                    div.classList.add("cat");
                                    h2.appendChild(document.createTextNode(item.position));
                                    div.appendChild(h2);
                                    div.appendChild(hr);
                                    div.appendChild(can);
                                    document.getElementById("votes").appendChild(div);
                                }
                            }
                        });
                        votenow();
                    }
                }
            
            }

            xhttp.open("POST", "/view/getresult/<%= election %>", true);
            xhttp.send();

          // example : 
          // var btn = document.createElement("DIV");        // Create a <button> element
          // btn.setAttribute("class", "cand");
          // var t = document.createTextNode("CLICK ME");       // Create a text node
          // btn.appendChild(t);                                // Append the text to <button>
          // document.getElementById("president-"+elect_id).appendChild(btn);
        }
        updateCandidate(<%= election %>);
        voteResult = {};
        function votenow() {
            var elect = document.getElementById("votes").getElementsByTagName("div");
            // console.log("elect length: ", elect.length);
            for(var i = 0; i < elect.length; i++) {
                // console.log("cat id:", i);

                var node = elect.item(i).getElementsByTagName("div");
                var cat = elect.item(i).id;

                for (var j = 0; j < node.length; j++) {
                    // console.log("node id:", j);

                    node[j].addEventListener("click", function() {
                        var pos = this.parentNode.id;
                        var myid = this.id;
                        var sibs = $("#" + myid).siblings();
                        // console.log("i was clicked", myid);
                        for(var k = 0; k < sibs.length; k++) {
                            sibs.removeClass("bg-orange");
                        }
                        $("#" + myid).addClass("bg-orange");
                        voteResult[pos] = myid;
                        // console.log("my result: ", JSON.stringify(voteResult));
                    })
                }
            }
        }

        var saveBtn = document.getElementById("submit-vote");
        saveBtn.addEventListener("click", function(){
            var xhttp = new XMLHttpRequest();
            
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var result = JSON.parse(this.responseText);
                    if(result.message == "ok") {
                        console.log("you voted succesfully");
                        alert("You voted successfully")
                        window.location = "/view/election/<%= election %>";
                    } else if (result.message == "error") {
                        console.log("Could not save your vote");
                        alert("Could not save your vote")
                    }
                }
            }

            xhttp.open("POST", "/vote", false);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(JSON.stringify(voteResult));
        })
    </script>
</body>

</html>