/*@import url('../fonts/Oxygen/Oxygen-Light.ttf');*/
@import url('../fonts/Dosis/Dosis-Regular.ttf');
@import url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');

html {
    min-width: 300px;
    /*font-family: 'Dosis', sans-serif;*/
}

body {
    /*padding: 50px;*/
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    /*font-family: 'Oxygen', sans-serif;*/
    /*font-family: 'Dosis', sans-serif;*/
    /*font-family: 'Pavanam', sans-serif;*/
    font-family: 'RobotoCondensed', sans-serif;
    font: "RobotoCondensed", Helvetica, Arial, sans-serif;
}

a {
    color: orange;
}

hr.light {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* menu block */
.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: white;
  box-shadow: 
    0 0.25em 0 0 white,
    0 0.5em 0 0 white;
}

/* The slide effect animation code */
@keyframes slide {
    from {width: 0;}
    to {width: 16rem;}
}

#sidenav {
    animation-name: slide;
    animation-duration: 0.2s;
}