@import url('../fonts/Oxygen/Oxygen-Light.ttf');
body {
    /*padding: 50px;*/
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    font-family: 'Oxygen', sans-serif;
}

a {
    color: orange;
}

hr.light {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}